<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'why_aie', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'our_approach', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'get_involved', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr', 'data-turbolinks-track': 'reload' %>
    
    <title>Anything Is Everything</title>
  </head>

  <body>
  	<header class="cd-header">
  		<div class="cd-logo">
  			<%= link_to image_tag("home/cd-logo.svg", :alt => "logo"), root_path %>
  		</div>

			<nav>
				<ul class="cd-secondary-nav">
					<li><a href="https://www.youcaring.com/anythingiseverythingafterschoolprograminliberia-974493">Donate</a></li>
					<li>
						<%= link_to 'WHY AIE', why_aie_index_path %>
						</li>
				</ul>
			</nav> <!-- cd-nav -->

			<a class="cd-primary-nav-trigger" href="#0">
				<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
			</a> <!-- cd-primary-nav-trigger -->
  	</header>
  	<nav>
			<ul class="cd-primary-nav">
				<li class="cd-label">About us</li>

				<li><%= link_to 'The Team', about_staff_path %></li>

				<li><%= link_to 'Our Mission', about_mission_path %></li>

				<li class="cd-label">Our Approach</li>

				<li><a href="#0">Our Solutions</a></li>
				<li><a href="#0">Our Local Partnerships</a></li>

				<li class="cd-label">Get Involved</li>

				<li><a href="">Donate</a></li>
				<li><a href="#0">Volunteer</a></li>
				<li><a href="#0">Brand Partnerships</a></li>

				<li class="cd-label">Follow us</li>
				
				<li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
				<li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
				<li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
				<li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
			</ul>
		</nav>

		
    <%= yield %>

    

	<%= javascript_include_tag 'jquery-2.1.1', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %> <!-- Resource jQuery -->
  </body>

  <footer class="AIE-footer row ">
	  <div class="AIE-footer-top-row ">
	    <ul class="AIE-footer-row-1 col-md-4 col-sm-12">
	      <li class="AIE-footer-header">Get to know us</li>
	      <li><a href="https://www.charitywater.org/blog/">Read our blog</a></li>
	      <li><a href="https://www.charitywater.org/stories/">Field stories</a></li>
	      <li><a href="https://www.charitywater.org/about/staff.php">Meet our staff</a></li>
	    </ul>

	    <ul class="AIE-footer-row-2 col-md-4 col-sm-12">
	      <li class="AIE-footer-header">Connect</li>
	      <li><a href="https://www.charitywater.org/contact/">Contact us</a></li>
	      <li><a href="http://support.charitywater.org/hc/en-us">Help center</a></li>
	      <li><a href="https://www.charitywater.org/about/request-speaker/">Request a speaker</a></li>
	    </ul>

	    <ul class="AIE-footer-row-3 col-md-4 col-sm-12">
	      <li class="AIE-footer-header">Connect</li>
	      <li><a href="https://www.charitywater.org/contact/">Contact us</a></li>
	      <li><a href="http://support.charitywater.org/hc/en-us">Help center</a></li>
	      <li><a href="https://www.charitywater.org/about/request-speaker/">Request a speaker</a></li>
	    </ul>
	  </div>
	  <div class="AIE-footer-bottom-row">
	    <ul>
	      <li>AIE is working towards 501 (c)(3)</li>
	      <li><a href="https://www.charitywater.org/privacy/">Privacy policy</a></li>
	      <li>©2017</li>
	      <li><a class="AIE-footer-emph" href="https://my.charitywater.org/mailing_list_subscribers/new">Get our emails</a></li>
	    </ul>
	  </div>
	 	<div class="AIE-footer-social-row ">
	    <ul>
	      <li class="AIE-footer-social-twitter"><a href="https://twitter.com/charitywater"><span class="AIE-icon-twitter icn"><span class="for-screen-readers-only">Twitter</span></span></a></li>
	      <li class="AIE-footer-social-facebook"><a href="https://www.facebook.com/charitywater"><span class="AIE-icon-facebook icn"><span class="for-screen-readers-only">Facebook</span></span></a></li>
	      <li class="AIE-footer-social-instagram"><a href="https://www.instagram.com/charitywater/"><span class="AIE-icon-instagram icn"><span class="for-screen-readers-only">Instagram</span></span></a></li>
	     
	      <li class="AIE-footer-social-linkedin"><a href="https://www.linkedin.com/company/charity-water"><span class="AIE-icon-linkedin icn"><span class="for-screen-readers-only">Linkedin</span></span></a></li>
	    </ul>
	  </div>
	</footer>

</html>
